{% extends 'basic.html' %}

{% block title %} Tracker {% endblock %}
{% block body %}
<div class="container my-4">
  <h2>Enter Your Order Id And Email address to Track Your Order </h2>
  <form method="post" id="tracker">{% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputName">Order Id</label>
        <input type="text" class="form-control" id="orderId" name="orderId">
      </div>
    </div>
    <button type="submit" class="btn btn-primary" m-4>submit</button>
  </form>
  {% if msg == "success" %}

  <ul class="list-group mt-4">

    {% for i,j in newupdate %}
    <li class="list-group-item d-flex justify-content-between align-items-center">
      {{i}}
      <span class="badge badge-primary badge-pill">{{j}}</span>
    </li>

    {% endfor %}
  </ul>
  {% else %}
  <ul class="list-group mt-2">
    <li class="list-group-item list-group-item-primary">Please Enter Your Currect Id </li>

  </ul>
  {% endif %}

</div>
{% endblock %}